*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    display: inline-block;
} 
body, html {
    height: 100%;
  }
.bg-image {
    /* The image used */
    background-image: url("img/img1.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
input{
    width: 250px;
    margin: 10px 0px;
    padding: 10px;
}
button{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    background: navy;
   
}
button:hover{
    background-color:rgba(68, 68, 193, 0.919);
}
.userDetail{
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
}
.user{
    
    text-align: center;
    border: 4px solid navy;
    border-radius: 10px;
    width: 400px;
    height: 400px;
   background-color: rgb(191, 191, 236)!important;
    padding: 10px;
    background: #fff;
}